@mixin btn-primary {
    background-color: $hippie-blue;
    color: $alabaster;
    padding: 1rem 2.5rem;
    border-radius: 29px;
    cursor: pointer;
    text-decoration: none;
    font-family: $red-hat-display;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.625rem;
}

@mixin btn-secondary {
    background-color: $deluge;
    color: $alabaster;
    padding: 1rem 1.8125rem;
    cursor: pointer;
    text-decoration: none;
    font-family: $red-hat-display;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.625rem;
    border-radius: 29px;
}
