@mixin btn {
    cursor: pointer;
    font-family: $red-hat-display;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.625rem;
    text-decoration: none;
    transition: .4s;
}

@mixin btn-primary {
    @include btn;

    background-color: $hippie-blue;
    border-radius: 29px;
    color: $alabaster;
    padding: 1rem 2.5rem;

    &:hover {
        background-color: $downy;
    }
}

@mixin btn-secondary {
    @include btn;

    background-color: $deluge;
    border-radius: 29px;
    color: $alabaster;
    padding: 1rem 1.8125rem;

    &:hover {
        background-color: $lavender;
    }
}
