// Descriptive color variables
$alabaster: #FAFAFA;

$deluge: #855FB1;
$lavender: #B18BDD;

$ebony-clay: #28283D;
$hippie-blue: #4D96A9;
$downy: #71C0D4;

$malibu: #8FE3F9;

$manatee: #87879D;
$mauve: #D9B8FF;

// Functional color variables

// Typographies
$red-hat-display: "Red Hat Display", sans-serif;

// Break points
$tablet: 48rem;
$desktop: 90rem;


// z-index
$negativeElevation: -1;
$smallElevation: 10;

// Max horizontal content
$maxWidth: 68.75rem;
