.landing-page {
  background-color: $alabaster;
  padding-top: 3.25rem;
}

.landing-page-hero {
    margin-bottom: 4rem;

    &__image {
        height: 9.625rem;
        width: 100%;
        background-image: url("/img/meet-users.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        margin-bottom: 3rem
    }

    &__content {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    &__title {
        @include heading-h1;
        text-align: center;
        margin-bottom: 1.75rem;
    }

    &__description {
        @include paragraph;
        text-align: center;
        margin-bottom: 1.75rem;
    }

    &__btns {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }

    &__btn--primary {
        @include btn-primary;
    }

    &__btn--secondary {
        @include btn-secondary;
    }
}

.landing-page-first-step {
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    &__step-number {
        @include step;
        margin: 7rem auto 4rem;
    }

    &__pictures {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
        margin-bottom: 4rem;
    }

    &__picture {
        border-radius: 8px;
    }

    &__subheading {
        @include overline;
        text-align: center;
        margin-bottom: 1.75rem;
    }

    &__heading {
        @include heading-h2;
        text-align: center;
        margin-bottom: 1.75rem;
    }

    &__description {
        @include paragraph;
        text-align: center;
    }
}

.landing-page-second-step {
    &__step-number {
        @include step;
        margin: 7rem auto -1.75rem;
        z-index: $smallElevation;
    }

    &__download-wrapper {
        padding: 5.75rem 1.5rem 4.5rem;
        position: relative;
        text-align: center;
        background-color: $hippie-blue;
    }

    &__heading {
        @include heading-h2;
        color: $alabaster;
        margin-bottom: 1.5rem;
    }

    &__description {
        @include paragraph;
        color: $alabaster;
        margin-bottom: 2rem;
    }

    &__btn {
        @include btn-secondary;
    }
}
